<h1 class="title-ranking">Have Ranking</h1>
<ul class="ranking-list">
<% @item.each do |i| %>
     <li><%= h(i.title) %></li>
     <li><%= link_to(
         image_tag(i.large_image, width: '300', alt:i.title),
         i.detail_page_url, target:"_blank") %></li>
     <li><%= link_to( "詳細", i.detail_page_url, target:"_blank") %></li>
<% end %>
</ul>